<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punjabi.oodda" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".Splash_Activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Gurmukhi_Screen"
            android:screenOrientation="portrait"
          >
        </activity>
        <activity
            android:name=".Vowel_Screen"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".Matras_Screen"
            android:screenOrientation="portrait"
          >
        </activity>
        <activity
            android:name=".Alphabet_Activity_Screen"
            android:screenOrientation="portrait"
       />

        <activity android:name=".Demo" >
        </activity>
    </application>

</manifest>
